
.profile {
    position: absolute;
    width: 20rem;
    right: -20rem;
    z-index: 1;
    top: 12.7vh;
    height: calc(100vh - 13vh);
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-color: rgba(var(--darkgreyblue),1);
    color:rgba(var(--darkgreyblue),1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .avatarWrap{
      position: relative;
      display: inline-block;
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      background-color: rgba(var( --petrolium),0.5);
      overflow: hidden;
  }
  .avatarWrap img{
    width: 100%;
    height: auto;
  }

  .popout{
    right: 0rem;
    transition: right 0.5s ease-out;
}

.popin{
    right: -20rem;
    transition: right 0.5s ease-out;
}

.profile input {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    outline: 0;
    background:rgba(--lightreyblue,0);
    width: 100%;
    border: 0;
 
    box-sizing: border-box;
    color: rgba(var(--white),1);
    border-radius: var(--radius);
  }
.inputEnabled{
    background: rgba(var(--lightreyblue),1);
    margin: 0 0 1rem;
    padding: 1rem;
    color: rgba(var(--darkgreyblue),1);
}
input:disabled {
    background-color: transparent;
    border-color: transparent;
    margin: 0 0 0.1rem;
    padding: 0.5rem;
}
  .profile button.CTA {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:rgb(var( --petrolium));
    width: 100%;
    border: 0;
    padding: 0.5rem;
    color: #FFFFFF;
    font-size: 1rem;
    color:rgba(var(--white),1);
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: var(--radius);
    text-align: center;
  }
  .profile .CTA:hover,.profile .CTA:active,.profile .CTA:focus {

    background: rgb(var(--lightpetrolium));
  }