.profileWrap {
    position: relative;
    z-index: 1;
    background-color: rgba(var(--darkgreyblue),0.9);
    max-width: 95%;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: var(--radius);
  }

  

@media (min-width: 320px) {

}

@media (min-width: 768px) {
    .profileWrap{
        max-width: 80%;
    }
}

@media (min-width: 992px) { 
    .profileWrap{
        max-width: 70%;
    }
}


@media (min-width: 1200px) {
    .profileWrap{
        max-width: 50%;
    }
}